{% include 'publicheader.html' %}


<form method="post" style="" class="animate__animated animate__fadeInUp">
	<center>
		    <br><br><br><br><br><br>

              <h2 class="animated fadeInDown" style="color:white">Login</h2>

		<table class="table"  style="width: 500px;color: WHITE;padding: -1em">
			<tr>
				<th>username</th>
				<td><input type="text" name="un" required="" class="form-control"></td>
			</tr>
      <br>
			<tr>
				<th>password</th>
				<td><input type="password" name="pa" required="" class="form-control"></td>
			</tr>
			<tr>
        <td align="center" colspan="2"><input type="submit" name="login" value="LOGIN" class="btn btn-success"></td>
      </tr>
     <!--  <tr>
        <td align="center" colspan="2"><a class="btn btn-info" href="userregister">New User?click here</a></td>
      </tr> -->
		</table>
	</center>
</form>
    <br><br><br><br><br><br>



{% include 'footer.html' %}