{% include 'userheader.html'%}
                              
                            
                            <br><br>
                            <br><br>
                            <br><br>
                            <br><br>


<center>
                <form method="post" >

        <h1 style="color: white">Send Complaint</h1>
        <table class="table" style="width: 500px;color: white">
            <tr>
                <th>complaint</th>
                <td><input type="text" name="com" class="form-control"></td>
            </tr>
            <tr>
                <td align="center" colspan="2"><input type="submit" name="send" value="SEND" class="btn btn-success"></td>
            </tr>
        </table>

    </form>
</center>

                <center>
                    
        <h1>view complaint</h1>
        <table class="table" style="width: 500px">
            <tr>
                <th>complaint</th>
                <th>reply</th>
                <th>date</th>
            </tr>
            {% for row in data['comp']%}
            <tr>
                <td>{{row['complaint']}}</td>
                <td>{{row['reply']}}</td>
                <td>{{row['date']}}</td>
            </tr>
            {% endfor %}
        </table>

</center>

</form>




{% include 'footer.html' %}
