{% include 'userheader.html' %}
     


         
                            
                            <br><br><br><br><br>       
                <form method="post" enctype="multipart/form-data">
        <center>
             <h1 style="color: white"> Claim Policy</h1>
    
    <table class="table" style="width: 600px ;color: white">
            <tr>
                <th>Policy</th>
                <td>
                    <select name="pol">
                        <option>select</option>
                        {%for row in data['pol']%}
                        <option value="{{row['policy_id']}}">{{row['policy']}}</option>
                        {%endfor%}
                    </select>
                </td>
            </tr><tr>
                <th>Certificate Of Proof</th>
                <td><input type="file" name="i" required class="form-control"></td>
            </tr>
             <tr>
                <th>Policy Document</th>
                <td><input type="file" name="iii" required class="form-control"></td>
            </tr>
             <tr>
                <th>ID Upload</th>
                <td><input type="file" name="ii" required class="form-control"></td>
        
            </tr>

            <tr>

                <td align="center" colspan="2"><input type="submit" name="register" value="CLAIM" class="btn btn-success"></td>
            </tr>
        </table>
        </center>
    </form>
  
   
    
                                

{% include'footer.html' %}